*{
    margin: 0;
    padding: 0;
}

.addNote{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 80vw;
    border-radius: 8px;
    box-shadow: 0px 1px 10px 1px grey;
}

.addNote input{
    border: none;
    outline: 0px;
    font-weight: 500;
    font-size: 20px;
}

.addNote textarea{
    border: none;
    outline: 0px;
    transition: 500ms linear;
}

.addNoteBtn {
    background-color: orange;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    cursor: pointer;
    position: relative;
    left: 97%;
    bottom: -25px;
    transition: 500ms linear;
}

.addNoteBtn img{
    filter: invert(1);
    height: 100%;
}

.notesItem{
    background-color: aliceblue;
    /* width: 20vw; */
    min-height: 150px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
}